h1.logo a{
  text-decoration: none;
  text-transform: none;
 }
 
 main {
  h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
  }
}

.post-info{
  margin-top: -1rem;
}

.post{
  margin: 1rem;
  border-bottom: 1px dotted var(--grey);
}

#content section {
  text-align: center;
  display: grid;
  margin: var(--margin-s) 0;
  padding: var(--padding-s);
  grid-template-columns: 1fr var(--container-width) 1fr;
}

#content section > * {
  grid-column: 2;
}
